<!DOCTYPE html>

{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block titre %} Bacchanator {% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!--    Nos propres code css    -->
        <link rel="stylesheet" href="{% static 'css/accueil.css'%}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_equipe.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" >
        <link rel="stylesheet" href="{% static 'css/not_found.css'%}">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md bg-dark navbar-light ">
                <div class="navbar-header col-sm-8"> <a class="navbar-brand text-white feu" href="{% url 'base' %}">Bacchanator</a> </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse col">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"> <a class="nav-link text-white text" href="{% url 'base' %}">Accueil</a> </li>
                        <li class="nav-item"> <a class="nav-link text-white text" href="{% url 'qui_sommes_nous' %}">Qui sommes nous</a></li>
                        <li class="nav-item"> <a class="nav-link text-white text" href="{% url 'faq' %}">FAQ</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div>
            {% block corps %} {% endblock %} 

            {% block question %} 
                {% block reponse %} {% endblock %} 
            {% endblock %}
        </div>

                
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
