{% extends 'base.html' %}
<!---------------------->
{% load static %}
<!----------------------->


{% block entete %}
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container col-sm-12 entete">
            <div class="navbar-header col-sm-8">
                <a class="navbar-brand " href="#">Bacchanator</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse col">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./../">Accueil</a></li>
                    <li><a href="#about">Nous contacter</a></li>
                    <li><a href="#contact">Qui sommes nous</a></li>
                    <li><a href="#contact">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
{% endblock %}
<!-- #region -->

{% block question %}

<div class="container">
    <div class="row">
        <div class="col-sm-2"> </div>

        <div class="col-sm-8">
            <div class="row">

                <div class="col-sm-4 personnage d-inline d-sm-inline-block">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Image narrateur" width="380" height="500" />
                </div>

                <div class="col"> </div>
                <br><br><br><br><br><br><br><br><br>
                <!--
                <div class="col d-inline talk-bubble tri-right round border left-top">
                    <div class="talktext">
                        <p>
                            { question.descriptionQuestion }}Le personnage porte -t- il une bague? </p>
                    </div>
                </div> -->
                <h3>Auteur:</h3><span> FONTANA (épouse ZAPPI) Lavinia</span>
                <br>
                <h3>Date creation:</h3><span> 1577 ; 1578 </span>
                <br>
                <h3>Designation:</h3><span> Portrait d'homme assis feuilletant un livre (dit du sénateur Orsini) ;<br> [Autre titre] Portrait du sénateur Orsini
                    Portrait du sénateur Orsini ;<br> [Autre titre]. </span>


            </div>
        </div>

        <div class="col-sm-2"> </div>
    </div>
</div>

{% endblock %}
<!---->

{% block reponse %}
<div class="container ">
    <div class="row millieu">
        <h2>
            {% for a in associee %}
            <form action="/img/" id="{{ a.reponse.cleReponse }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="reponse" value="{{ a.reponse.descriptionReponse }}" />
            </form>
            <!--
            <p> <a href="javascript:document.getElementById('{{ a.reponse.cleReponse }}').submit();">{{ a.reponse.descriptionReponse }} </a></p>-->
            {% endfor %}
            <!--
            <p> <a href="jouer"> Oui</a></p>
            <p> <a href="jouer"> Non</a></p> -->
            <h3> Matiere technique:</h3><span> Huile sur toile.  </span>
            <br>
            <h3>Domaine:</h3><span> FONTANA (épouse ZAPPI) Lavinia</span>
            <br>
            <h3>Titre:</h3><span> FONTANA (épouse ZAPPI) Lavinia</span>
            <br>
            <h3>Bibliographie:</h3><span> <p> [Charles-Henry Gauldrée de Boilleau, marquis de Lacaze], Catalogue des tableaux du cabinet particulier de Mr. de Lacaze. Catalogue des tableaux restaurés par Lebrun, 1821 ; f. 3v, n°43, (AmBx, Fonds Delpit dos. 154)
                [Pierre Lacour fils], Catalogue des tableaux qui formaient la galerie de Mr de Lacaze, et qui se trouvent maintenant au Musée des tableaux de la Ville de Bordeaux, mars 1830, ; f. 3r, n° 112, (AmBx, Fonds Delpit dos. 154)
                Pierre Lacour fils, Catalogue des tableaux qui formaient la galerie de Mr de Lacaze, et qui se trouvent maintenant au Musée des tableaux de la Ville de Bordeaux, 2 avril 1830. ; f. 3r., n° 132 (Bmus. dos. Musée)
                [Lacour P.], Notice des tableaux et figures exposés au Musée de la Ville de Bordeaux, Bordeaux, s.d., [ca. 1832], ; n° 174 (portrait du scrutateur Brisini)
                [Pierre Lacour fils], Notice des tableaux et figures exposés au Musée de la Ville de Bordeaux, Bordeaux, [1841], ; p. 32, n° 174.
                [Lacour P.], Notice des tableaux et figures exposés au Musée de la Ville de Bordeaux, Bordeaux, 1845, ; n° 144
                [Lacour P.], Notice des tableaux et figures exposés au Musée de la Ville de Bordeaux, Bordeaux, s.d., [1850], ; p. 29, n° 109.
                Pierre Lacour fils, Jules Delpit, Catalogue des tableaux, statues, etc. du Musée de Bordeaux. Bordeaux, 1855, ; p. 109, n° 134.
                Pierre Lacour fils, Jules Delpit, Catalogue des tableaux, statues, etc., du Musée de Bordeaux. Nouvelle édition revue et augmentée des acquisitions faites jusqu'à ce jour par Oscar Gué. Bordeaux, 1862, ; pp. 113-114, n° 152.
                [Oscar Gué], Catalogue des tableaux, statues, etc. du Musée de Bordeaux, avec un supplément. Bordeaux, Imp. G. Gounouilhou, 1863, ; p. 25, n° 152.
                [Oscar Gué], Catalogue des tableaux, statues, etc... du Musée de Bordeaux. Bordeaux, 1864, ; p. 24, n° 152.
                [Oscar Gué], Catalogue des tableaux, statues, etc... du Musée de Bordeaux, avec un supplément. Bordeaux, 1869, ; p. 24, n° 152.
                Oscar Gué, Catalogue des tableaux statues, etc., du musée de Bordeaux. Bordeaux, G. Gounouilhou, 1875, ; p. 24, n° 152.
                [Oscar Gué], Catalogue des tableaux et statues, etc..., du Musée de Bordeaux avec un supplément. Bordeaux, imp. Gounouilhou, 1877, ; p. 24, n° 152.
                (Emile Vallet], Catalogue des tableaux, statues, etc... du Musée de Bordeaux. Bordeaux, imp. Gounouilhou, 1879, ; p. 24, n° 152.
                Emile Vallet, Catalogue des tableaux, sculptures, gravures, dessins, exposés dans les galeries du Musée de Bordeaux. Bordeaux, 1881, ; p. 33, n° 48.
                Emile Vallet, "Le Musée de Bordeaux", in La Gironde littéraire et scientifique. Bordeaux, 1882,
                Emile Vallet, Catalogue des tableaux, sculptures, gravures, dessins exposés dans les galeries du Musée de Bordeaux. Bordeaux, 1894, ; p. 31, n° 49.
                H. de La Ville de Mirmont, Histoire du musée de Bordeaux : Tome premier : Les origines. Histoire du Musée pendant le Consulat, l'Empire et la Restauration (1801-1830). Bordeaux, éd. Féret et Fils, 1899, ; p. 409, n° 124.
                Venturi A., Storia dell'arte italiana, Milan, 1901-1941, 23 vol., ; t. IX 6, 1933, p. 693.
                Daniel Alaux, Ville de Bordeaux, Musée de Peinture : Catalogue. Bordeaux, 1910, ; p. 10, n° 45.
                Thieme U., Becker F., Allgemeines Lexikon der Bildenden Kunstler, Leipzig, 1907-1950, ; t. XII, p. 183.
                Galli R., Lavinia Fontana pittrice, 1552-1614, Imola, 1940, ; p. 67, n° 69
                1952, "Les chefs-oeuvres de nos Musées", in Le Journal de Bordeaux, 27 décembre 1952, repr. n. et b.
                Catalogue d'exposition, Le seizième siècle européen, Peintures et dessins dans les collections publiques françaises, Paris, Musée du Petit Palais, 1965-1966, ; p. 321.
                Sutherland Harris A., Nochlin L., Femmes-peintres
                1550-1950, Paris, éd. des femmes, 1981, ; pp. 112-113, repr. p. 113 fig. 5
                Levi Pisetsky R., Storia del costuma in Italia, Milan, 1966, ; fig. 8, fig. 88, p. 365
                Fortunati Pietrantonio V., Pittura Bolognese del'500, Bologne, 1986, ; p. 728, p. 744
                Jean Habert, Bordeaux, Musée des Beaux-Arts : Peinture italienne XVe-XIXe siècles ; Inventaire des Collections publiques françaises. Paris, RMN, 1987, ; pp. 74-75, n° 33, repr. en n. p. 74, n° 33.
                Cantaro M.T., Lavinia Fontana bolognese : "pittora singulare", Milan-Rome, 1989, ; pp. 75-77, n° 4a. 13, repr. couleur p. 75
                Jean-Luc Chalumeau, 100 chefs-d'oeuvre méconnus des musées de France. Paris, Chêne, 2010, ; p. 106, repr. en coul. p. 107
                Sous la direction de Guillaume Ambroise, Musée des beaux-arts de Bordeaux : guide des collections XVIe-XXe siècle. Bordeaux, Musée des beaux-arts, Le Festin, 2010, ; p. 29, repr. en coul.
                Beir Valentine de, Solinas Francesco, Tapié Alain, Les Dames du baroque : femmes peintres dans l'Italie du XVIe et XVIIE siècle [exposition du 20.10.18-20.01.19 au Museum voor Schone Kunsten Gent]. Gand : MSK, 2018, ; fig.11, repr. en coul. p.32-33 </p></span>
            <br>

        </h2>
    </div>

</div>
<!---->
{% endblock %}