{% extends 'base.html' %}

{% load static %}

{% block titre %}Accueil{% endblock %}

{% block corps %}
<div class="container">
    <div class="col-sm-2"> </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="col-md-8">
                <div class="col personnage d-inline d-sm-inline-block">
                    <img src="{% static 'img_site/man_with_the_hand.png' %}" alt="Image narrateur" width="320" height="360" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="col d-inline talk-bubble tri-right round border btm-left">
                    <div class="talktext"> <p>Bonjour, je suis Bacchanator</p> </div>
                </div>

                <div class="col d-inline talk-bubble tri-right round border left-top">
                    <div class="talktext"> <p>Pense à un tableau du musée, je vais tenter de le deviner</p> </div>
                </div>

        <div class="millieu">
            <h2> 
                <form action="jouer/" id="jouer" method="POST">
                    {% csrf_token %}
                   <!-- <input type="hidden" name="contain" value= {{contain}} />
                    <input type="hidden" name="next_questions" value= {{next_questions}} />
                   --><input type="hidden" name="reponse" value="Jeu" />
                </form>
                <a href="javascript:document.getElementById('jouer').submit();"> Jouer </a> </h2>
                <!--<h2> <a class="bouton" href="{% url 'play_button' %}">Jouer</a> <br> <br> </h2>-->
        </div>
    </div>

    <div class="col-sm-2"> </div>
</div>
{% endblock %}