<!DOCTYPE html> {% load static %}
<html lang="fr">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>BACCANATOR</title>
</head>

<body>
    <center>
        <div class="akinator_img" >
            {% load static %}
            <img src="{% static 'img_site/akin1.png' %}" alt="Page d'Acceuil"  />

            <div class="bulle">
                <div class="conteneur_bulle">
                <h2> Pense à un tableau du musée. <br> Je vais tenter de le deviner </h2>
                </div>
            </div>
        </div>
        
        <div class="menu">  
        <h2>
            <p> <a href="jouer">Jouer</a> </p> 
            </h2>
        </div>

    </center>

    
    
</body>


    
<footer>
<div>
    <ul>
        <li><a href="#">Acceuil</a> </li>
        <li> <a href="#">Nous contacter</a> </li>
        <li> <a href="#">Mentions légales</a> </li>
        <li> <a href="#">Qui somme-nous ?</a> </li>
        <li> <a href="#">FAQ</a> </li>
    </ul>
</div>
</footer>


</html>