{% extends 'base.html' %}
{% load static %}

{% block titre %}Nous contacter{% endblock %}

{% block corps %}
    <div class="container distance">
        <p> <span class="contenu"> Pour toute suggestion, ou contacter</span> </p>

        <form action="/contacter/" method="post">
            <label for="your_name">Your name: </label>
            <input id="your_name" type="text" name="your_name" value="{{ your_name }}" maxlength="100" required>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}