{% extends 'base.html' %}

{% load static %}

{% block titre %}Faq{% endblock %}

{% block corps %}
    <div class="container distance">
        <br>
        <center><p><h2><u><i>Tous ce que vous avez toujours voulu savoir à propos de Bacchantor</i></u></h2></p></center>
        <br>
    <div class="row">

        <a href="#">
        <figure>
            <img src="{% static 'img_site/jouer_faq.png' %}" height="320" width="300"  alt="Mot jouer">
            <figcaption> <b>Comment jouer avec Bacchantor ?</b></figcaption>
        </figure>
        </a>

        

    <p STYLE="padding:0 0 0 250px;">
        <a href="#">
            <figure>
            <img src="{% static 'img_site/top_secret.png' %}" height="320" width="300"  alt="Mot secret">
            <figcaption> <b>Quel est le secret de Bacchantor ?</b></figcaption>
        </figure>
        </a>
    </p>
    </div>

    <br>


    <div class="row">
        <a href="#">
            <figure>
                <img src="{% static 'img_site/algo_faq.png' %}" height="320" width="300"  alt="Mot jouer">
                <figcaption> <b> Comprendre nos algorithmes !</b></figcaption>
            </figure>
        </a>

        <p STYLE="padding:0 0 0 250px;">
        <a href="#">
            <figure>
                <img src="{% static 'img_site/objectif_faq.png' %}" height="320" width="300"  alt="Mot jouer">
                <figcaption><b>Objectif du jeu</b></figcaption>
            </figure>
        </a>
        </p>
    </div>

</div>

{% endblock %}