<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BACCANIGHT</title>
  </head>
  <body>
      <p>Bonjour,je suis baccanator</p>
      <figure>
        {%load static%}
        <img src="{% static "baccanator.jpeg"%}" alt=""/>
      </figure>
      <p>Penser à une oeuvre réelle du musée.<br> Je vais tenter de la deviner</p>
    <form>
      <input type="button" name="Jouer" value="Jouer">
      <h1>BACCANATOR</h1>
    </form>
  </body>
  <footer>
    <a href="#">Acceuil</a>
    <a href="#">Nous contacter</a>
    <a href="#">Mentions légales</a>
    <a href="#">CGU</a>
    <a href="#">Qui somme-nous ?</a>
    <a href="#">Politique Confidentialité</a>
    <a href="#">FAQ</a>
    <a href="#">Presse</a>
  </footer>
</html>
