<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="utf-8">
    <title>BACCANIGHT</title>
  </head>

  <body>
      <center><b>
      
       <img src="Akinator.jpg" alt="Page d'Acceuil" width="900" height="500"> 

      <p>Penser à une oeuvre réelle du musée.<br> Je vais tenter de le deviner</p>

        <h2> <p><a href="liens.html">Jouer</a> </p> </h2>

  </body>



  <footer>
    <a href="#">Acceuil</a>
    <a href="#">Nous contacter</a>
    <a href="#">Mentions légales</a>
    <a href="#">Qui somme-nous ?</a>
    <a href="#">FAQ</a>
  </footer>
  </center></b>
</html>
