<!DOCTYPE html>
<html lang="fr" >
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>BACCANATOR</title>
  </head>

  <header>
        <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-toggler-icon"></span>

        <div style="text-align: left">
          {% load static %} 
          <img src="{% static 'img_site/imageeee.jpg' %}" alt="Logo" width="100" height="50">
      </div></nav>
  </header>

  <body>
      <center><b>
      <br>
      {% load static %} 
      <img src="{% static 'img_site/Akinator.jpg' %}" alt="Page d'Acceuil" width="700" height="400"/> 

      <p>Penser à une oeuvre réelle du musée. Je vais tenter de le deviner</p>

        <h2> <p><u> <a href="jouer">Jouer</a> </p> </u> </h2>

      </center></b>

  </body>



  <center>
      
      <footer>
          <div class="p-3 mb-2 bg-dark text-white">
          <a href="#">Acceuil</a>
          <a href="#">Nous contacter</a>
          <a href="#">Mentions légales</a>
          <a href="#">Qui somme-nous ?</a>
          <a href="#">FAQ</a>
        </div>
        </footer>
    </center> 
  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>
