{% extends 'base.html' %}

{% load static %}

{% block titre %}Qui sommes nous{% endblock %}

{% block corps %}
    <div class="container distance">
       <body>
        <div class="team-section">
            <div class="inner-width">
              <h1>Rencontrez notre équipe</h1>
              <div class="pers">
        
                <div class="pe">
                        <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Abdoulay Ibrahim <b>ARIDOUANE</b> </div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i> </a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>

                <div class="pe">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Ousmane <b>BAH</b></div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
          
                <div class="pe">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Aguibou <b>BARRY</b></div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
          
                  <div class="pe">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Ibrahima <b>DIALLO</b></div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
          
                  <div class="pe">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Mouctar <b>DIALLO</b></div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
          
                  
          
                  <div class="pe">
                    <img src="{% static 'img_site/img3.jpg' %}" alt="Photo profil">
                    <div class="p-name">Mamadou Saliou <b>DIALLO</b></div>
                    <div class="p-des">L3 Info</div>
                    <div class="p-sm">
                      <a href="#"><i class="fab fa-github"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
          
        
            </div>
            </div>
          </div>
       </body>
    </div>
{% endblock %}