{% extends 'base.html' %}

{% load static %}

{% block titre %}Qui sommes nous{% endblock %}

{% block corps %}
<div class="container distance body1">

  <div class="team-section">
    <div class="inner-width">
      <h1>Rencontrez notre équipe</h1>
      <div class="pers">

        <div class="pe">
          <img src="{% static 'nos_photos/abdoulhay.png' %}" alt="Photo profil">
          <div class="p-name">Abdoulhay <b> IBRAHIM ARIDOUANE</b> </div>
          <div class="p-des">Chef de projet, élaboration de l’algo de recherche,et remplissage de la BD </div>
          <div class="p-sm">
            <a href="https://github.com/aarid"><i class="fab fa-github"></i> </a>
            <a href="https://www.linkedin.com/in/abdoulhay-ibrahim-aridouane-15254b174"><i
                class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="{% static 'nos_photos/ousmane.png' %}" alt="Photo profil">
          <div class="p-name">Ousmane <b>BAH</b></div>
          <div class="p-des">Structure du site, test de la BD</div>
          <div class="p-sm">
            <a href="https://github.com/obah4567"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="{% static 'nos_photos/avatar1.png' %}" alt="Photo profil">
          <div class="p-name">Aguibou <b>BARRY</b></div>
          <div class="p-des">Responsivité du site, design du site, test de la BD</div>
          <div class="p-sm">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="{% static 'nos_photos/ibrahim.png' %}" alt="Photo profil">
          <div class="p-name">Ibrahima <b>DIALLO</b></div>
          <div class="p-des">Design du site, remplissage de la BD</div>
          <div class="p-sm">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="{% static 'nos_photos/mouctar.jpg' %}" alt="Photo profil">
          <div class="p-name">Mouctar <b>DIALLO</b></div>
          <div class="p-des">Élaboration de l’algorithme de recherche et remplissage de la BD</div>
          <div class="p-sm">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>



        <div class="pe">
          <img src="{% static 'nos_photos/saliou.jpg' %}" alt="Photo profil">
          <div class="p-name">Mamadou Saliou <b>DIALLO</b></div>
          <div class="p-des">Test de la BD et de la responsivité du site</div>
          <div class="p-sm">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container champs">
  <div class="col-sm-2"> </div>

  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-2"> </div>

      <div class="col-sm-10 position">
        <h4> <span style="text-decoration: underline;"> Pour nous contacter dans un cadre général:</span>
          <a class="dif"
            href="mailto:ousmane2014bah@gmail.com?subject=Merci%20de%20remplir%20l'objet%20de%20l'email">Par Ici</a>
        </h4> 
      </div>
    </div>
  </div>
</div>
{% endblock %}