/* General CSS Setup */
/*body {
    /*background-color: rgb(238, 236, 234);
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari 
    background-size: cover; /* version standardisée 
    background-image: url(../img_site/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}*/


/*header{
    background-color: black; 
}
*/


/*footer{
    background:whitesmoke;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:53px;
}*/

/*footer{ 
    background-color: whitesmoke;
    position: absolute; 
    bottom: 0;
    /*width:100%; 
    left: 0; 
    right: 0;
}*/
/*.pied{
    margin-bottom: -15px;
    height: 53px;
    margin-bottom: -10px;
    margin-top: 210px;
    background-color: whitesmoke;
    position: absolute;
}*/

