/*General CSS Setup*/
body {
    background: #D4D9DD url('images/bg03.jpg');
    color: #000000;
    font-size: 13.5pt;
    font-family: 'Yanone Kaffeesatz';
    line-height: 1.85em;
    font-weight: 300;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
 color: #5E5E5E;
}

.feu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-shadow: 0    0   2px #fefcc9,
                 1px -1px 3px #feec85,
                -2px -2px 4px #ffae34,
                 2px -4px 5px #5691b8,
                -2px -6px 6px #547fc0,
                 0   -8px 7px #587abb,
                 1px -9px 8px #451b0e;
  }

.text {
    font-size: medium;
}

/******************* CSS talk bubble ***************************/
.talk-bubble1 {
    margin: 30px;
    top: 110px;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}

.talk-bubble2 {
    left: 520px;
    margin: 20px;
    top: 260px;
    display: inline-block;
    position: absolute;
    width: 280px;
    height: auto;
    background-color: lightyellow;
}
.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    right: auto;
    top: 2px;
    bottom: auto;
    border: 28px solid;
    border-color: lightyellow transparent transparent transparent;
}

#plus {
    top: 50px;
    left: 420px;
}

#plus:after {
    top: auto;
    bottom: 2px;
    border-color: transparent transparent lightyellow transparent;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -24px;
    left: auto;
    top: auto;
    bottom: 2px;
    border: 28px solid;
    border-color: transparent transparent lightyellow transparent;
}

/* talk bubble contents */
.talktext {
    padding: 1em;
    text-align: center;
    line-height: 1.6em;
    font-size: large;
}

.talktext .p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.entete {
    color: white;
}

.personnage {
    position: relative;
    top: 30px;
    left: 160px;
}

.personnage1 {
    position: relative;
    top: 30px;
    left: 40px;
}

.img {
    width: 380px;
    height: 420px;
}
/**************** FIN **************************/

/***************** Pour la reponse ***********************/
.bouton.answer {
    text-decoration: none;
    color: #000000;
}

.reponse {
    width: fit-content;
    position: absolute;
    text-align: center;
    top: 220px;
    padding-left: 390px;
}

hr {
    width:340px;  
    height:2px; 
    background-color: lightyellow;
}
/***************** FIN ***********************************/

/***************** Pour la description de l'image à la fin ************************/  
.descript {
    position: absolute;
    padding-left: 460px;
    line-height: 1.85em;
    top: 20px;
    font-size: medium;
}

.descript_image {
    position: absolute;
    top: 30px;
}

.d_image {
    width: 380px;
    height: 320px;
}
/************************** FIN **********************************/

/************************* Pour le bouton jouer *********************/
.millieu {
    position: absolute;
    padding-top: 90px;
    padding-left: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.button {
    min-width: 160px;
    min-height: 60px;
    text-transform: uppercase;
    color: #000000;
    background: linear-gradient(90deg, rgb(255, 255, 224) 0%, rgb(49, 60, 77) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(17, 17, 14, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0    0   2px #fefcc9,
                1px -1px 3px #feec85,
                -2px -2px 4px #ffae34,
                2px -4px 5px #c2920d,
                -2px -6px 6px #547fc0,
                0   -8px 7px #587abb,
                1px -9px 8px #451b0e;
    text-decoration: none;
}

button.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(160px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(93, 105, 103); /*curseur sur le bouton*/
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button.button:hover::before, button.button:focus::before {
    opacity: 1;
}

button.button::after /*,.button1::after*/ {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(3, 3, 3); /* couleur de l'animation */
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button.button:hover::after, button.button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    100% {
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

/********************** Pour le bouton rejouer ************************/
.replay {
    position: absolute;
    padding-top: 30px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.button1 {
    color: #000000;
    cursor: pointer;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0    0   2px #fefcc9,
                1px -1px 3px #feec85,
                -2px -2px 4px #ffae34,
                2px -4px 5px #c2920d,
                -2px -6px 6px #547fc0,
                0   -8px 7px #587abb,
                1px -9px 8px #451b0e;
}
/*********************** FIN ********************************/

/******************* FIN du bouton jouer et rejouer *********************/

/******************** Pour les pages "Qui sommes nous" et "FAQ" ****************************/
.position h4 {
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    height: 140px;
}

.position p {
    font-size: x-large;
    font-style: italic;
}

.dif {
    text-transform: lowercase;
}
/********************************** FIN *********************************************/


/******************** POUR LES ECRANS MOYENS ***************************/
@media (min-width: 381px) and (max-width: 930px) {
    .personnage {
        top: 80px;
        left: 50px;  
    }

    .img {
        width: 280px;
        height: 340px;
    }

    .millieu {
        padding-top: 150px;
        padding-left: 120px;
    }

    .bouton.answer { 
        font-size: smaller;
    }

    .button { 
        min-width: 170px;
        min-height: 60px;
        font-size: 30px;
    }

    button.button::before {
        min-width: calc(170px + 12px);
        min-height: calc(60px + 12px);
    }

    @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          width: 170px;
          height: 160px;
          opacity: 0;
        }
    }

    .personnage1 {
        top: 30px;
        left: -70px;
    }

    .reponse {
        top: 180px;
        padding-left: 180px;
    }

    hr {
        width:220px;  
        height:2px; 
    }

    .talk-bubble1 {
        left: -40px;
        margin: 30px;
        top: 160px;
        width: 120px;
    }

    .talk-bubble2 {
        left: 280px;
        margin: 20px;
        top: 80px;
        width: 120px;
    }

    #plus {
        top: 20px;
        left: 200px;
        width: 180px;
    }

    .talktext {
        font-size: smaller;
    }

    .tri-right.left-top:after {
        top: auto;
        bottom: 2px;
        border-color: transparent transparent lightyellow transparent;
    }

    .descript {
        padding-left: 0px;
        top: 360px;
    }

    .d_image {
        width: 320px;
        height: 320px;
    }
}
/************************ FIN ****************************/

/************************ POUR LES PETITS ÉCRANS ****************************/
@media (min-width: 200px) and (max-width: 440px) {
    .personnage {
        top: 55px;
        left: 70px; 
    }

    .img {
        width: 160px;
        height: 200px;
    }

    .millieu {
        padding-top: 90px;
        padding-left: 90px;
    }

    .bouton.answer { 
        font-size: small;
    }

    .button { 
        min-width: 120px;
        min-height: 50px;
        font-size: 25px;
    }

    button.button::before {
        min-width: calc(120px + 12px);
        min-height: calc(50px + 12px);
    }

    @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          width: 120px;
          height: 120px;
          opacity: 0;
        }
    }

    .personnage1 {
        top: 60px;
        left: -50px;
    }

    .reponse {
        top: 140px;
        padding-left: 100px;
    }

    hr {
        width:220px;  
        height:2px; 
    }

    .talk-bubble1 {
        left: -30px;
        margin: 30px;
        top: 65px;
        width: 100px;
    }

    .talk-bubble2 {
        left: 205px;
        margin: 20px;
        top: 20px;
        width: 110px;
    }

    #plus {
        top: 10px;
        left: 120px;
        width: 180px;
    }

    .talktext {
        font-size: small;
    }

    .tri-right.left-top:after {
        top: auto;
        bottom: 2px;
        border-color: transparent transparent lightyellow transparent;
    }

    .descript {
        padding-left: 0px;
        top: 320px;
    }

    .d_image {
        width: 280px;
        height: 280px;
    }

    /****************************** POUR LES + PETITS ÉCRANS ****************************/
    @media (min-width: 331px) and (max-width: 350px) {
        .personnage {
            top: 55px;
            left: 60px; 
        }
    
        .img {
            width: 150px;
            height: 200px;
        }
    
        .millieu {
            padding-top: 90px;
            padding-left: 80px;
        }

        .talk-bubble1 {
            left: -35px;
            margin: 30px;
            top: 65px;
            width: 100px;
        }
    
        .talk-bubble2 {
            left: 190px;
            margin: 20px;
            top: 20px;
            width: 110px;
        }

        .personnage1 {
            top: 60px;
            left: -40px;
        }

        #plus {
            top: 10px;
            left: 110px;
            width: 180px;
        }

        hr {
            width:200px;  
            height:2px; 
        }
    
        .talktext {
            font-size: small;
        }
    } /***************************** FIN *****************************************/

    /************************ POUR LES ++ PETITS ÉCRANS ***************************/
    @media (min-width: 301px) and (max-width: 330px) {
        .personnage {
            top: 55px;
            left: 55px; 
        }
    
        .img {
            width: 130px;
            height: 180px;
        }
    
        .millieu {
            padding-top: 90px;
            padding-left: 70px;
        }

        .button {
            font-size: 20px;
        }

        .talk-bubble1 {
            left: -40px;
            margin: 30px;
            top: 50px;
            width: 100px;
        }
    
        .talk-bubble2 {
            left: 165px;
            margin: 20px;
            top: 5px;
            width: 100px;
        }

        #plus {
            top: 10px;
            left: 95px;
            width: 170px;
        }

        .personnage1 {
            top: 60px;
            left: -45px;
        }

        .reponse {
            top: 140px;
            padding-left: 70px;
        }

        hr {
            width:200px;  
            height:2px; 
        }
    
        .talktext {
            font-size: small;
        }
    }/***************************** FIN **************************************************/

    /****************************** POUR LES +++ PETITS ÉCRANS *****************************/
    @media (min-width: 200px) and (max-width: 300px) {
        .personnage {
            top: 50px;
            left: 55px; 
        }
    
        .img {
            width: 120px;
            height: 180px;
        }
    
        .millieu {
            padding-top: 80px;
            padding-left: 65px;
        }

        .button {
            font-size: 18px;
        }

        .talk-bubble1 {
            left: -40px;
            margin: 30px;
            top: 70px;
            width: 95px;
        }
    
        .talk-bubble2 {
            left: 150px;
            margin: 20px;
            top: 50px;
            width: 95px;
        }

        #plus {
            top: 10px;
            left: 75px;
            width: 160px;
        }

        .personnage1 {
            top: 60px;
            left: -45px;
        }

        .reponse {
            top: 120px;
            padding-left: 60px;
        }

        hr {
            width:180px;  
            height:2px; 
        }

        .talktext {
            font-size: x-small;
        }
    } /********************** FIN ********************************************/
}
/***************************** FIN ***************************/

