/*General CSS Setup*/
body {
    background: #D4D9DD url('images/bg03.jpg');
    color: #474f51;
    font-size: 13.5pt;
    font-family: 'Yanone Kaffeesatz';
    line-height: 1.85em;
    font-weight: 300;
}

/* .footer1{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    color: #546b76;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    position: absolute;
} */

/* .footer {
    padding: 0.8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(27, 23, 23);
    color: white;
    text-align: center;
 } */

.bouton {
    color: black;
    font-size: 32px;
}

/* CSS talk bubble */
.talk-bubble1 {
    margin: 30px;
    top: 110px;
    display: inline-block;
    position: absolute;
    width: 180px;
    height: auto;
    background-color: lightyellow;
}

.talk-bubble2 {
    left: 500px;
    margin: 20px;
    top: 240px;
    display: inline-block;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: lightyellow;
}
.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    right: auto;
    top: 2px;
    bottom: auto;
    border: 28px solid;
    border-color: lightyellow transparent transparent transparent;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -24px;
    left: auto;
    top: auto;
    bottom: 2px;
    border: 28px solid;
    border-color: transparent transparent lightyellow transparent;
}

/* talk bubble contents */
.talktext {
    padding: 1em;
    text-align: center;
    line-height: 1.8em;
}

.talktext .p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.entete {
    color: white;
}

.personnage {
    position: relative;
    top: 160px;
    left: 180px;
}

.millieu {
    position: absolute;
    padding-top: 220px;
    padding-left: 290px;
}


.reponse {
    position: absolute;
    text-align: center;
    padding-top: 120px;
    padding-left: 530px;
}

/* .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color : greenyellow transparent red transparent;
    animation: lds-hourglass 1.9s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  } */