/* General CSS Setup */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    overflow-x:scroll; /* on empeche le defillement horizontall */
    overflow-y:hidden; /* on accepte le defillement vertical */ 
}

.bouton {
    color: black;
    font-size: 36px;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 20px;
    top: 150px;
    display: inline-block;
    position: relative;
    width: 220px;
    height: auto;
    background-color: lightyellow;
}

.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    right: auto;
    top: 2px;
    bottom: auto;
    border: 28px solid;
    border-color: lightyellow transparent transparent transparent;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    right: auto;
    top: auto;
    bottom: 2px;
    border: 28px solid;
    border-color: transparent transparent lightyellow transparent;
}

/* talk bubble contents */
.talktext {
    padding: 1em;
    text-align: center;
    line-height: 1.8em;
}

.talktext p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.entete {
    background-color: rgb(24, 186, 192);
}

.personnage {
    position: relative;
    top: 160px;
    width: auto;
}

.millieu {
    position: relative;
    padding-top: 200px;
    padding-left: 60px;
}

h3 a {
    color: rgb(219, 191, 47);
    font-size: 36px;
}