/*body {
    margin-top: 50px;
    /*uniquement dans le cas d'une navbar-fixed-bottom */
    /* margin-bottom: 50px; 
}*/


/*  
 h2 a {
     color: #DAA520;
     font-family: 'Lobster';
     font-size: 36px;
 }

body {
    background-image:url(../img_site/blue.jpg);
    background-size: 100% auto;
    width :100% ;
}

.menu {navbar-fixed-top
    text-align : center;
    padding-top: 5%;
    padding-right: 22%;
}

..>
..>
.conteneur_bulle
{
    margin:3%;
    width:80%;
    background:rgb(176, 228, 230);
    height:150px;
    text-align:center;
    border-radius:80%;
    line-height: 10%; /* 100 - 10 */;
    /*  padding-top: 10%;
    padding_top + height = width */
/* }
.bulle{
    padding-left: 25%;
    padding-right: 45%;
    
  ..>
 .akinator_perso {
     padding-left: 20%;
     padding-top: 10%;
     width :20% ;
 }

 .akinator_img {
    float: left;
}
*/
 /*footer {
    color: rgb(2, 43, 53);
    font-size: 20px;
    position:absolute;
    bottom: 0px;
 }
/*
 ul.footer {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #363535;
  }
  li.footer {
    float: left;
  }
  
  .footer a {
    width: auto;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
  } */ 